:root {
  --primary-color: black;
  --secondary-color: white;
} 


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* NavBar styles start */

header nav {
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  position: -webkit-sticky;
  background-color: white;
  top: 0;
  z-index: 1;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 1px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  color: var(--primary-color);
}



.topnav {
  background-color: var(--primary-color);
  width: 100%;
  border: solid var(--secondary-color);
  

}

/* Style the links inside the navigation bar */
.topnav a {
  color: var(--secondary-color);
  text-align: center;
  padding: 15px 50px;
  font-size: 20px;
  text-decoration: none;
  display: flex;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  text-decoration: underline overline var(--primary-color);
  font-weight: bold;
  
  
}

/* Add an active class to highlight the current page */
.topnav .active {
  background-color: var(--secondary-color);
  color: rgb(2, 0, 0);
  text-decoration: underline;
  display: flex;
 
}


.navi {
    display: inline-flex;
    text-decoration: none;
}

.avatar img {
  display: flex;
  width: 50px;
  margin-left: 600px;
  position: absolute;
  top: 4px;
  right: 20px;
}



/* NavBar styles end */

/* Footer styles start */
footer {
  background-color: var(--secondary-color);
  padding: 40px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

footer div {
  line-height: 1.5;
  text-align: left;
}
/* Footer styles end */

/* Section Styles */
section{
padding: 0px;
}

/* Hero styles start */
.hero {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  justify-content: center;
  height: 93vh;
}

.about {
padding: 0px;
margin-bottom: 0px;
margin-top: 0px;
justify-content: center;
position: relative;
display: inline-block;
height: 5%;
top: 100px;
}

.about .img-back {
display: none;
position: absolute;
z-index: 99;
left: 0px;
}

.about:hover img {
opacity: 0;
}

.about:hover .img-back {
display: inline;
background-color: var(--primary-color);
opacity: .9;
box-shadow: 0 0 10px rgba(255, 255, 255, .7);
}


.about img {
width: 200px;
border: 2px solid var(--secondary-color);
border-radius: 50%;
padding: 0px;
margin-top: 100px;
justify-content: center;
box-shadow: 0px 0px 40px rgba(255, 255, 255, .7);
background-color: var(--secondary-color);
}


.aboutMe {
margin-left: 100px;
margin-bottom: 300px;
margin-top: 200px;
margin-right: 10px;
width: 600px;
}

.aboutMe h2 {
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: var(--secondary-color);
margin-bottom: 20px;
font-size: 70px;
text-decoration: underline;
text-align: center;
text-shadow: 0 0 10px rgba(255, 255, 255, .4);
}

.aboutMe h1 {
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
margin-bottom: 15px;
}

.name {
font-weight: bolder;
font-size: 30px;
}

/* work sections styles start*/
#work {
margin: auto;
position: relative;
background-color: var(--primary-color);
}

/* Slideshow container */
.slideshow-container {
  
max-width: 80%;
position: relative;
margin: 0 auto;
padding: 40px 0 0 0;
height: 93vh;
display: flex;
flex-wrap: wrap;
justify-content: center;
}

#book {
  border-radius: 15px;
  width:400px;
  
}

#workout {
  border-radius: 15px;
  width:400px;

}

#placeholder {
  border-radius: 15px;
  width:400px;

}



.images {
border-radius: 15px;
transition: .9s ease;
margin-top: 70px;
margin: 0 50px;
}

.images:hover {
opacity: .8;
box-shadow: 0 0 30px rgba(255, 255, 255, .7);
}

#ANI {
  justify-content: center;
  font-size: 40px;
  color: wheat;
}










.mySlides:hover .texxt {
opacity: 1;
}

.mySlides:hover .numbertext {
opacity: 1;
}



.active, .dot:hover {
background-color: var(--secondary-color);
}



/* Contact section styles start */
#contact {
background-color: var(--primary-color);
color: var(--secondary-color);
padding: 160px;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

#contact-form {
background-color: var(--primary-color);
margin-bottom: 50px;
display: block;
width: 300px;

}



#contact-form h3 {
padding: 0 0 15px 0;
text-decoration: underline;
font-size: 35px;
}

#contact-form input, #contact-form textarea {
border: 1px solid var(--secondary-color);
border-radius: 10px;
display: block;
padding: 7px 5px;
font-size: 16px;
color: var(--primary-color);
margin-bottom: 15px;
width: 300px;
}


#contact-form input:focus, #contact-form textarea:focus {
background-color: var(--secondary-color);
outline: none;
color: var(--primary-color);
}

#contact-form button {
border: 1px solid var(--primary-color);
border-radius: 15px;
background-color: var(--secondary-color);
color: var(--primary-color);
text-align: center;
padding: 15px;
font-size: 16px;
}

#contact-form button:hover {
background-color: var(--primary-color);
color: var(--secondary-color);
border: 1px solid var(--secondary-color);
box-shadow: 0 0 10px rgba(255, 255, 255, .7);
}

.divider {
display: block;
border-left: 4px solid var(--secondary-color);
border-right: 4px solid var(--secondary-color);
width: 10%;
}

.social {
display: block;
margin-top: 20px;
background-color: var(--secondary-color);
color: var(--primary-color);
width: 300px;
text-align: center;
border: 1px solid var(--primary-color);
border-radius: 10px;
box-shadow: 0 0 30px rgba(255, 255, 255, .7);
justify-content: center;
}


.social h2 {
padding: 10px 0;
text-decoration: underline;
text-shadow: 0 0 6px rgba(0,0,0,0.8);
}

.icons {
padding: 12px;
}


.icons:hover {
box-shadow: 0 0 10px rgba(0,0,0,0.8);
}






@media screen and (max-width: 600px) {

  .section {
    margin: 0;
  }

  .slideshowContainer img {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0;
    margin-bottom: 0;
  }


  .aboutMe {
    margin: 100px;

  }

  .aboutMe h1 {
    font-size:medium
  }
  .topnav {
    display: inline;
    flex-direction: row;
  }

  .avatar img {
    top: 30px;
  }

  .social h2 {
    font-size: 25px;
    width: 100px;
    text-align: center;
    justify-content: center;
  }

  .social {
    margin: 50px 0 0 0;
    padding: 0 100px;
  }

  #contact {
    justify-content: center;
  }

  .contact-form {
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .divider {
    margin-top: 50px;
    border-top: 4px solid var(--secondary-color);
    border-bottom: 4px solid var(--secondary-color);
    height: 50px;
    width: 200px;
    border-left: none;
    border-right: none;
  }
 
}